body{
    color:white;
    background-color: rgb(12, 12, 12);
    font-family: 'Courier New', Courier, monospace;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
}



.center{
    text-align: center;
}